<!-- Step 87 -->

<!-- Step 86 -->
{{#if success_message}}
  <div class="alert alert-success">
    {{success_message}}
  </div>
{{/if}}

<!-- Step 122 -->
{{#if error_message}}
  <div class="alert alert-danger">
    {{error_message}}
  </div>
{{/if}}

<!-- Step 130 -->
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
{{/if}}